<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>baseApiUrl</key>
		<string>https://m.dsd.gov.hk:44303</string>
		<key>mutualAuthenticationCertificateFile</key>
		<string>mtls.m.dsd.gov.hk.client.20250723</string>
		<key>mutualAuthenticationCertificateExtension</key>
		<string>pfx</string>
		<key>mutualAuthenticationCertificatePassword</key>
		<string>ektwTcZ5HCns</string>
	</dict>
	<key>UAT</key>
	<dict>
		<key>baseApiUrl</key>
		<string>https://m.dsd.gov.hk:44301</string>
		<key>mutualAuthenticationCertificateFile</key>
		<string>mtls.devptl03.client.20251126</string>
		<key>mutualAuthenticationCertificateExtension</key>
		<string>pfx</string>
		<key>mutualAuthenticationCertificatePassword</key>
		<string>DuqGzCakyjY6</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>baseApiUrl</key>
		<string>https://m.dsd.gov.hk:8446</string>
		<key>mutualAuthenticationCertificateFile</key>
		<string>mtls.p12</string>
		<key>mutualAuthenticationCertificateExtension</key>
		<string>p12</string>
		<key>mutualAuthenticationCertificatePassword</key>
		<string>mtls_passphrase.txt</string>
	</dict>
	<key>Global</key>
	<dict>
		<key>appleDeveloperRss</key>
		<string>https://developer.apple.com/news/releases/rss/releases.rss</string>
		<key>contrast</key>
		<integer>50</integer>
		<key>debugMode</key>
		<false/>
		<key>developerView</key>
		<false/>
		<key>developmentMode</key>
		<false/>
		<key>documentViewer</key>
		<string>1</string>
		<key>domainName</key>
		<string>dsd.hksarg</string>
		<key>enableChinese</key>
		<false/>
		<key>enableMutualAuthentication</key>
		<true/>
		<key>enableSheetPresentation</key>
		<false/>
		<key>organizationChartApiPath</key>
		<string>/api/sharepoint/organizationcharts/</string>
		<key>searchBar</key>
		<false/>
		<key>serverEnvironment</key>
		<string>uat</string>
		<key>vehicleReservationReportsApiPath</key>
		<string>/api/cifs/vrs/</string>
	</dict>
</dict>
</plist>
