<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>baseApiUrl</key>
		<string>https://m.dsd.gov.hk:4348</string>
		<key>mutualAuthenticationCertificateFile</key>
		<string>client.m.dsd.gov.hk.20260622</string>
		<key>mutualAuthenticationCertificateExtension</key>
		<string>pfx</string>
		<key>mutualAuthenticationCertificatePassword</key>
		<string>Awp9vYKJ5HaF</string>
	</dict>
	<key>UAT</key>
	<dict>
		<key>baseApiUrl</key>
		<string>https://m.dsd.gov.hk:4348</string>
		<key>mutualAuthenticationCertificateFile</key>
		<string>client.m.dsd.gov.hk.20260622</string>
		<key>mutualAuthenticationCertificateExtension</key>
		<string>pfx</string>
		<key>mutualAuthenticationCertificatePassword</key>
		<string>Awp9vYKJ5HaF</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>baseApiUrl</key>
		<string>https://m.dsd.gov.hk:4449</string>
		<key>mutualAuthenticationCertificateFile</key>
		<string>client.m.dsd.gov.hk.20260622</string>
		<key>mutualAuthenticationCertificateExtension</key>
		<string>pfx</string>
		<key>mutualAuthenticationCertificatePassword</key>
		<string>Awp9vYKJ5HaF</string>
	</dict>
	<key>Global</key>
	<dict>
		<key>appleDeveloperRss</key>
		<string>https://developer.apple.com/news/releases/rss/releases.rss</string>
		<key>contrast</key>
		<integer>50</integer>
		<key>debugMode</key>
		<false/>
		<key>developerView</key>
		<false/>
		<key>developmentMode</key>
		<false/>
		<key>documentViewer</key>
		<string>1</string>
		<key>domainName</key>
		<string>dsd.hksarg</string>
		<key>enableChinese</key>
		<false/>
		<key>enableMutualAuthentication</key>
		<true/>
		<key>enableSheetPresentation</key>
		<false/>
		<key>organizationChartApiPath</key>
		<string>/api/sharepoint/organizationcharts</string>
		<key>searchBar</key>
		<false/>
		<key>serverEnvironment</key>
		<string>production</string>
		<key>vehicleReservationReportsApiPath</key>
		<string>/api/cifs/vrs</string>
	</dict>
</dict>
</plist>
